@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300..600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.our-benefits .our-benefits__cards .card .card__icon::before, .checking-accounts__image::before,
.savings-accounts__image::before,
.loans-mortgages__image::before {
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.05), rgba(202, 255, 51, 0) 100%);
}

.our-benefits .our-benefits__cards .card .card__icon::after, .option .option__image::after, .option .option__image::before, .checking-accounts__image::after,
.savings-accounts__image::after,
.loans-mortgages__image::after {
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(202, 255, 51, 0.1) -66.216%, rgba(202, 255, 51, 0) 85.461%);
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulse-mini {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
body {
  min-width: 375px;
  font-family: "Lexend", sans-serif;
  background-color: #1e1e1e;
  color: #b3b3b3;
  font-size: 18px;
  line-height: 150%;
}
@media screen and (max-width: 1440px) {
  body {
    font-size: 14px;
  }
}

a {
  color: #fff;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #d1ff4d;
}

.container {
  width: min(100%, 1696px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 1440px) {
  .container {
    width: min(100%, 1380px);
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: min(100%, 960px);
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.accent-text {
  color: #caff33;
}

.block-title {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 48px;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
}
@media screen and (max-width: 1440px) {
  .block-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 38px;
  }
}
@media screen and (max-width: 390px) {
  .block-title {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 28px;
  }
}

.description {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: #b3b3b3;
}
@media screen and (max-width: 1440px) {
  .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 390px) {
  .description {
    font-size: 14px;
  }
}

.hidden {
  display: none !important;
}

::selection {
  text-shadow: 0 0 1px red;
  color: #92b925;
  background-color: #353b26;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
  box-shadow: 0 0 5px 2px #caff33;
  border-radius: 10px;
}

.shadow {
  border-radius: 50%;
  background: #d1ff4d;
  box-shadow: 0 0 70px 50px #d1ff4d;
  opacity: 0.025;
  z-index: -10;
  transition: 0.09s linear;
}

.header {
  width: min(100%, 1666px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 100px;
  background-color: #1c1c1c;
}
@media screen and (max-width: 1440px) {
  .header {
    width: min(100%, 1280px);
  }
}
@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 90px;
  }
}
.header::before {
  content: url("../img/header/header_bg.png");
  display: block;
  position: absolute;
  left: -58px;
  top: -183px;
  z-index: -10;
}
@media screen and (max-width: 768px) {
  .header::before {
    content: url("../img/header/header_bg_mobile.png");
    left: -32px;
    top: -34px;
  }
}
.header .nav .nav__list {
  display: flex;
  gap: 26px;
  transition: color 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .header .nav .nav__list {
    display: none;
  }
}
.header .nav .nav__list .nav__item :hover {
  text-shadow: 0px 3px rgb(0, 0, 0);
}
.header .nav .nav__list .nav__item :active {
  color: #92b925;
}
.header .register-btns .signUp {
  transition: color 0.2s ease-in-out;
}
.header .register-btns .signUp:hover {
  color: #caff33;
}
.header .register-btns .signUp:active {
  color: #92b925;
}
@media screen and (max-width: 390px) {
  .header .register-btns .signUp {
    display: none;
  }
}
.header .register-btns .login {
  margin-left: 30px;
  padding: 14px 30px;
  border-radius: 82px;
  background-color: #caff33;
  color: #1c1c1c;
  transition: background-color 0.2s ease-in-out;
}
@media screen and (max-width: 768px) {
  .header .register-btns .login {
    margin-left: 20px;
    padding: 12px 24px;
  }
}
@media screen and (max-width: 390px) {
  .header .register-btns .login {
    display: none;
  }
}
.header .register-btns .login:hover {
  background-color: #577504;
}
.header .register-btns .login:active {
  background-color: #92b925;
  transition: none;
}

.show-menu {
  position: relative;
  display: none;
  vertical-align: middle;
  width: 56px;
  height: 40px;
  background: #caff33;
  padding: 6px 14px;
  border-radius: 82px;
}
@media screen and (max-width: 390px) {
  .show-menu {
    display: inline-block;
  }
}
.show-menu .humb-btn {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
}
.show-menu .humb-btn .line {
  width: 100%;
  height: 100%;
  background: #333333;
}
.show-menu .humb-btn::after, .show-menu .humb-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background: #333333;
}
.show-menu .humb-btn::before {
  top: -8px;
}
.show-menu .humb-btn::after {
  width: 60%;
  top: 8px;
  left: 40%;
}

#menu {
  width: max(375px, 100%);
  height: 60%;
  background: rgb(20, 50, 50);
  padding: 40px 20px;
  z-index: 100;
  border-radius: 0 0 30px 30px;
  transition: transform 0.5s ease-in-out;
}
#menu:not([open]) {
  display: block;
  transform: translateY(-2000px);
}
#menu[open] {
  position: absolute;
  top: 0;
  transform: translateY(0);
}
#menu .header__menu .menu__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 28px;
}
#menu .header__menu .menu__list .menu__item::before {
  content: "➣";
  color: #d1ff4d;
  margin-right: 5px;
}
#menu .header__menu .menu__list .menu__item :hover {
  text-decoration: underline;
}
#menu .menu__close-btn {
  transform: scale(3);
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 100;
}
#menu .menu__close-btn:hover {
  color: #d1ff4d;
}

.hero {
  margin-top: 150px;
}
@media screen and (max-width: 1440px) {
  .hero {
    margin-top: 120px;
  }
}
.hero .hero__content {
  display: grid;
  grid-template-columns: minmax(auto, 826px) 515px;
  gap: 120px;
}
@media screen and (max-width: 1440px) {
  .hero .hero__content {
    grid-template-columns: minmax(auto, 650px) 410px;
    gap: 100px;
  }
}
@media screen and (max-width: 768px) {
  .hero .hero__content {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero__welcome {
    text-align: center;
  }
}
.hero__welcome .hero__prompt {
  padding: 10px 20px 10px 12px;
  border-radius: 61px;
  background-color: #262626;
  color: #fff;
  font-weight: 300;
  line-height: 24px;
}
.hero__welcome .hero__prompt::before {
  content: url("../img/hero/prompt_logo.png");
  margin-right: 8px;
  position: relative;
  top: 4px;
}
.hero__welcome button {
  margin-top: 50px;
  padding: 18px 30px;
  border-radius: 82px;
  background-color: #caff33;
  color: #1c1c1c;
  transition: background-color 0.2s ease-in-out;
}
.hero__welcome button:hover {
  background-color: #577504;
}
.hero__welcome button:active {
  background-color: #92b925;
}
@media screen and (max-width: 1440px) {
  .hero__welcome button {
    padding: 14px 24px;
  }
}
@media screen and (max-width: 768px) {
  .hero__welcome button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__status {
  padding: 35px;
  position: relative;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10.4px;
  background-color: #1e1e1e;
  background: linear-gradient(225.58deg, rgba(202, 255, 51, 0.02) 0.002%, rgb(26, 26, 26) 39.716%, #1e1e1e, rgba(202, 255, 51, 0.01));
}
@media screen and (max-width: 1440px) {
  .hero__status {
    padding: 28px;
  }
}
@media screen and (max-width: 768px) {
  .hero__status {
    width: max(60vw, 305px);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}
.hero__status::after {
  content: url("../img/hero/hero_bg.png");
  position: absolute;
  top: 10px;
  right: -187px;
  z-index: -10;
}
@media screen and (max-width: 1440px) {
  .hero__status::after {
    content: url("../img/hero/hero_bg_laptop.png");
    top: 6px;
    right: -30px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__status::after {
    content: "";
  }
}
@media screen and (max-width: 768px) {
  .hero__status::after {
    top: -19px;
    right: -27px;
    content: url("../img/hero/hero_bg_mobile.png");
  }
}
.hero__status .hero__transactions h2 {
  font-weight: 500;
  margin-bottom: 18px;
}
.hero__status .hero__transactions .transaction {
  padding: 14px 20px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  flex-direction: column;
  border: 1px solid #262626;
  border-radius: 10px;
  background-color: #1c1c1c;
}
.hero__status .hero__transactions .transaction h3 {
  font-size: 16px;
  font-weight: 300;
}
.hero__status .hero__transactions .transaction .transaction__name {
  grid-row: 2/3;
  grid-column: 1/2;
}
.hero__status .hero__transactions .transaction .transaction__sum {
  justify-self: flex-end;
  grid-row: 2/3;
  grid-column: 2/3;
}

.moneyExchange {
  position: relative;
}
.moneyExchange h2 {
  margin-top: 26px;
  margin-bottom: 26px;
  font-weight: 500;
}
.moneyExchange .table-wrapper {
  border: 1px solid rgb(38, 38, 38);
  border-radius: 10px;
}
.moneyExchange .moneyExchange__table {
  width: 100%;
  background-color: #1c1c1c;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}
.moneyExchange .moneyExchange__table .moneyExchange__country {
  width: 50%;
  padding: 6px 18px;
  border: 1px solid rgb(38, 38, 38);
  font-size: 14px;
  font-weight: 300;
  color: #e4e4e7;
}
.moneyExchange .moneyExchange__table .moneyExchange__country .moneyExchange__countryCode {
  font-size: 16px;
  font-weight: 400;
  color: #e4e4e7;
}
.moneyExchange .moneyExchange__table .moneyExchange__country .moneyExchange__countryCode::before {
  content: "";
  margin-right: 5px;
  position: relative;
  top: 12px;
}
@media screen and (max-width: 1440px) {
  .moneyExchange .moneyExchange__table .moneyExchange__country .moneyExchange__countryCode {
    font-size: 12px;
  }
}
.moneyExchange .moneyExchange__table .moneyExchange__country .India::before {
  content: url("../img/hero/flagOfIndia_icon.png");
}
.moneyExchange .moneyExchange__table .moneyExchange__country .USA::before {
  content: url("../img/hero/flagOfUSA_icon.png");
}
@media screen and (max-width: 1440px) {
  .moneyExchange .moneyExchange__table .moneyExchange__country {
    font-size: 11px;
  }
}
.moneyExchange .moneyExchange__table .moneyExchange__rate {
  padding: 26px 18px;
  border: 1px solid rgb(38, 38, 38);
  font-weight: 500;
}
@media screen and (max-width: 1440px) {
  .moneyExchange .moneyExchange__table .moneyExchange__rate {
    font-size: 14px;
  }
}
.moneyExchange .moneyExchange__button {
  width: 100%;
  margin-top: 25px;
  padding: 14px 26px;
  border-radius: 71px;
  font-size: 16px;
  background-color: #22251b;
  color: #d1ff4d;
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}
.moneyExchange .moneyExchange__button:hover {
  color: #1e1e1e;
  background-color: #577504;
}
.moneyExchange .moneyExchange__button:active {
  background-color: #92b925;
}

.monthlyIncome {
  padding: 14px 18px 14px 64px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #22251b;
  position: absolute;
  border: 1px solid rgb(38, 38, 38);
  top: -44px;
  left: -60px;
}
@media screen and (max-width: 768px) {
  .monthlyIncome {
    left: 0;
  }
}
.monthlyIncome::before {
  content: url("../img/hero/plus_icon.svg");
  position: absolute;
  left: 17px;
}
@media screen and (max-width: 1440px) {
  .monthlyIncome::before {
    left: 13px;
  }
}
@media screen and (max-width: 768px) {
  .monthlyIncome::before {
    left: 8px;
  }
}
@media screen and (max-width: 1440px) {
  .monthlyIncome {
    padding: 11px 14px 11px 50px;
  }
}
@media screen and (max-width: 768px) {
  .monthlyIncome {
    padding: 8px 10px 8px 50px;
  }
}
.monthlyIncome span {
  margin-left: 5px;
  color: #fff;
}
.monthlyIncome span:last-of-type {
  font-size: 14px;
  font-weight: 300;
  color: #e4e4e7;
}
@media screen and (max-width: 1440px) {
  .monthlyIncome span:last-of-type {
    font-size: 11px;
  }
}

.supportedCurrency {
  position: absolute;
  bottom: -96px;
  left: 196px;
  padding: 9px 9px 9px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11px;
  border-radius: 69px;
  background: #22251b;
  border: 1px solid rgb(38, 38, 38);
  font-size: 16px;
  text-wrap: nowrap;
}
@media screen and (max-width: 1440px) {
  .supportedCurrency {
    padding: 7px 7px 7px 17px;
    font-size: 12px;
    left: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .supportedCurrency {
    bottom: -76px;
  }
}
@media screen and (max-width: 768px) {
  .supportedCurrency {
    padding: 5px 5px 5px 12px;
  }
}
.supportedCurrency .currency__list {
  padding: 9px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 48px;
  background-color: #1c1c1c;
  display: flex;
  gap: 7px;
}
@media screen and (max-width: 768px) {
  .supportedCurrency .currency__list {
    padding: 5px;
  }
}
.supportedCurrency .currency__list .currency__icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(38, 38, 38);
  border-radius: 100%;
  cursor: pointer;
}
.supportedCurrency .currency__list .currency__icon:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
.supportedCurrency .currency__list .currency__icon:hover path {
  fill: #577504;
}
@media screen and (max-width: 1440px) {
  .supportedCurrency .currency__list .currency__icon {
    width: 27px;
    height: 27px;
    padding: 7px;
  }
}

.our-products {
  margin-top: 150px;
}
@media screen and (max-width: 1440px) {
  .our-products {
    margin-top: 120px;
  }
}
.our-products .wrapper {
  margin-bottom: 100px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: min(100%, 910px) auto;
}
@media screen and (max-width: 1440px) {
  .our-products .wrapper {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1024px) {
  .our-products .wrapper {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 768px) {
  .our-products .wrapper {
    gap: 20px;
    align-items: center;
    text-align: center;
  }
}
.our-products .wrapper .our-products__description {
  grid-row: 2/3;
}
.our-products .wrapper .our-products__plans {
  width: fit-content;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 14px 5px;
  border: 1px solid rgb(38, 38, 38);
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(60deg, #22251b, #b6c585, #22251b) border-box;
  border: 2px solid transparent;
  border-radius: 82px;
  background-color: #1c1c1c;
}
@media screen and (max-width: 1024px) {
  .our-products .wrapper .our-products__plans {
    grid-row: 3/4;
  }
}
@media screen and (max-width: 768px) {
  .our-products .wrapper .our-products__plans {
    margin-right: auto;
  }
}
.our-products .wrapper .our-products__plans label {
  padding: 14px;
}
@media screen and (max-width: 1440px) {
  .our-products .wrapper .our-products__plans label {
    padding: 12px;
  }
}
@media screen and (max-width: 768px) {
  .our-products .wrapper .our-products__plans label {
    align-items: center;
    text-align: center;
  }
}
.our-products .wrapper .our-products__plans span {
  padding: 14px 24px;
  border-radius: 140px;
  transition: box-shadow 0.125s ease-in-out;
  text-wrap: nowrap;
}
.our-products .wrapper .our-products__plans span:hover {
  box-shadow: 0 0 0 1px inset #caff33;
}
@media screen and (max-width: 1440px) {
  .our-products .wrapper .our-products__plans span {
    padding: 10px 18px;
  }
}
.our-products .wrapper .our-products__plans [type=radio] {
  display: none;
}
.our-products .wrapper .our-products__plans [type=radio]:checked + span {
  color: #1c1c1c;
  background-color: #caff33;
  transition: background-color 0.3s ease-in-out;
}

.products {
  display: flex;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .products {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.checking-accounts,
.savings-accounts,
.loans-mortgages {
  width: 33.3333333333%;
  margin-right: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(38, 38, 38);
}
@media screen and (max-width: 768px) {
  .checking-accounts,
  .savings-accounts,
  .loans-mortgages {
    width: 60vw;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(38, 38, 38);
  }
}
@media screen and (max-width: 390px) {
  .checking-accounts,
  .savings-accounts,
  .loans-mortgages {
    width: 100%;
  }
}

.loans-mortgages {
  border: none;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .loans-mortgages {
    border: none;
    margin: 0;
  }
}

.checking-accounts__image,
.savings-accounts__image,
.loans-mortgages__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checking-accounts__image::before,
.savings-accounts__image::before,
.loans-mortgages__image::before {
  content: "";
  position: absolute;
  width: 98px;
  height: 98px;
  animation: pulse 3s infinite ease-in-out 0.3s;
}
.checking-accounts__image::after,
.savings-accounts__image::after,
.loans-mortgages__image::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  animation: pulse 3s infinite ease-in-out;
}

.checking-accounts__title,
.savings-accounts__title,
.loans-mortgages__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
}
@media screen and (max-width: 1440px) {
  .checking-accounts__title,
  .savings-accounts__title,
  .loans-mortgages__title {
    font-size: 20px;
  }
}

.checking-accounts__description,
.savings-accounts__description,
.loans-mortgages__description {
  text-align: center;
}

.use-cases {
  margin-top: 150px;
}
@media screen and (max-width: 1440px) {
  .use-cases {
    margin-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .use-cases {
    margin-top: 80px;
    text-align: center;
  }
}

.use-cases__individuals {
  margin-top: 80px;
  margin-bottom: 60px;
}
.use-cases__individuals .individuals__options-list {
  position: relative;
}
.use-cases__individuals .individuals__options-list::before {
  content: url("../img/bg/use_cases_bg.png");
  max-width: 224px;
  max-height: 213px;
  position: absolute;
  top: 0;
  z-index: 0;
}

.use-cases__business .business__options-list {
  position: relative;
}
.use-cases__business .business__options-list::before {
  content: url("../img/bg/use_cases_bg.png");
  max-width: 224px;
  max-height: 213px;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg);
  z-index: 0;
}

.use-cases__individuals,
.use-cases__business {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
@media screen and (max-width: 1440px) {
  .use-cases__individuals,
  .use-cases__business {
    gap: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .use-cases__individuals,
  .use-cases__business {
    display: grid;
    grid-template-columns: auto;
  }
}

.individuals__options-list,
.business__options-list {
  width: 100%;
  padding: 50px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  gap: 20px;
  background-color: #1c1c1c;
}
@media screen and (max-width: 1440px) {
  .individuals__options-list,
  .business__options-list {
    padding: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .individuals__options-list,
  .business__options-list {
    grid-row: 1/2;
  }
}
@media screen and (max-width: 768px) {
  .individuals__options-list,
  .business__options-list {
    padding: 30px;
    gap: 10px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

.option {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 16px;
  background-color: #1a1a1a;
  text-align: center;
  z-index: 10;
}
@media screen and (max-width: 1440px) {
  .option {
    padding: 20px;
  }
}
@media screen and (max-width: 768px) {
  .option {
    padding: 20px 14px;
  }
}
.option .option__title {
  margin-top: 38px;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
}
@media screen and (max-width: 1440px) {
  .option .option__title {
    font-size: 34px;
  }
}
@media screen and (max-width: 768px) {
  .option .option__title {
    font-size: 14px;
    margin-top: 20px;
  }
}
.option .option__image {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .option .option__image {
    margin-top: 16px;
  }
}
.option .option__image::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 78px;
  animation: pulse-mini 4s infinite ease-in-out 0.3s;
}
.option .option__image::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  animation: pulse-mini 4s infinite ease-in-out;
}

.details .details__title {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
@media screen and (max-width: 1440px) {
  .details .details__title {
    font-size: 26px;
  }
}
.details .details__indicators {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .details .details__indicators {
    flex-direction: column;
    gap: 60px;
  }
}
.details .details__indicators .indicator {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.details .details__indicators .indicator .indicator__num {
  font-size: 58px;
  font-weight: 500;
  line-height: 150%;
  color: #caff33;
}
@media screen and (max-width: 1440px) {
  .details .details__indicators .indicator .indicator__num {
    font-size: 40px;
  }
}
.details .details__indicators .indicator .indicator__text {
  font-weight: 300;
}
.details button {
  margin-top: 62px;
  padding: 18px 24px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 82px;
  color: #fff;
  transition: background-color 0.125s ease-in-out, border-color 0.125s ease-in-out;
}
.details button:hover {
  background-color: rgb(26, 26, 26);
  border-color: #577504;
}
.details button:active {
  background-color: #262626;
  border-color: #92b925;
}

.our-futeres {
  margin-top: 150px;
}
@media screen and (max-width: 1440px) {
  .our-futeres {
    margin-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .our-futeres {
    margin-top: 80px;
    text-align: center;
  }
}

.our-futeres__details {
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .our-futeres__details {
    display: grid;
    grid-template-columns: auto;
  }
}

.details__radio-btns {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  border-radius: 12px;
  background-color: #1c1c1c;
}
@media screen and (max-width: 1024px) {
  .details__radio-btns {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .details__radio-btns {
    flex-direction: column;
  }
}
.details__radio-btns .details__btn {
  width: 100%;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 100px;
  background-color: rgb(26, 26, 26);
  padding: 18px 24px;
  color: #fff;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.details__radio-btns .details__btn [type=radio] {
  display: none;
}
.details__radio-btns .details__btn:hover {
  background-color: #1e1e1e;
}
.details__radio-btns .details__btn:has(:checked) {
  color: #caff33;
  background-color: #262626;
}

.details__cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 1440px) {
  .details__cards {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .details__cards {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
.details__cards .card {
  position: relative;
  padding: 50px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 12px;
  background-color: rgb(26, 26, 26);
}
@media screen and (max-width: 1440px) {
  .details__cards .card {
    padding: 40px;
  }
}
.details__cards .card .card__title {
  margin-bottom: 30px;
  font-size: 22px;
  color: #fff;
}
@media screen and (max-width: 1440px) {
  .details__cards .card .card__title {
    font-size: 18px;
  }
}
.details__cards .card a {
  border-radius: 100%;
  position: absolute;
  top: 50px;
  right: 50px;
  transition: all 0.125s ease-in-out;
}
.details__cards .card a:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px #d1ff4d);
}

.FAQ {
  margin-top: 150px;
}
@media screen and (max-width: 1440px) {
  .FAQ {
    margin-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .FAQ {
    margin-top: 80px;
    text-align: center;
  }
}
.FAQ .FAQ__more-btn {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 18px 24px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 100px;
  background-color: #1c1c1c;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.FAQ .FAQ__more-btn::after {
  content: "❯";
  position: relative;
  left: 10px;
  transform: rotate(90deg);
  transition: all 0.09s ease-in-out;
}
.FAQ .FAQ__more-btn:hover {
  color: #1e1e1e;
  background-color: #e4e4e7;
}
.FAQ .FAQ__more-btn:active {
  transition: none;
  color: #fff;
  background-color: #262626;
}
.FAQ .FAQ__more-btn:active::after {
  transform: rotate(-90deg);
}

.FAQ__list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .FAQ__list {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .FAQ__list {
    text-align: start;
    grid-template-columns: auto;
  }
}
.FAQ__list .FAQ__card {
  padding: 50px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 14px;
  background-color: rgb(26, 26, 26);
}
@media screen and (max-width: 1440px) {
  .FAQ__list .FAQ__card {
    padding: 40px;
  }
}
.FAQ__list .FAQ__card .card__quest {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
}
@media screen and (max-width: 1440px) {
  .FAQ__list .FAQ__card .card__quest {
    font-size: 18px;
  }
}
.FAQ__list .FAQ__card .card__reply {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgb(38, 38, 38);
  font-weight: 300;
}
.FAQ__list::after {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.8));
}

.our-testimonials {
  margin-top: 150px;
}
@media screen and (max-width: 1440px) {
  .our-testimonials {
    margin-top: 120px;
  }
}
@media screen and (max-width: 768px) {
  .our-testimonials {
    margin-top: 80px;
  }
}
.our-testimonials .wrapper {
  margin-bottom: 100px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: min(100%, 910px) auto;
}
@media screen and (max-width: 1440px) {
  .our-testimonials .wrapper {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1024px) {
  .our-testimonials .wrapper {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 768px) {
  .our-testimonials .wrapper {
    text-align: center;
    gap: 20px;
  }
}
.our-testimonials .our-testimonials__description {
  grid-row: 2/3;
}
.our-testimonials .our-testimonials__plans {
  width: fit-content;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 14px 5px;
  border: 1px solid rgb(38, 38, 38);
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box, linear-gradient(45deg, #caff33, #22251b, #577504) border-box;
  border: 1px solid transparent;
  border-radius: 82px;
  background-color: #1c1c1c;
}
@media screen and (max-width: 1024px) {
  .our-testimonials .our-testimonials__plans {
    grid-row: 3/4;
  }
}
@media screen and (max-width: 768px) {
  .our-testimonials .our-testimonials__plans {
    margin-right: auto;
  }
}
.our-testimonials .our-testimonials__plans label {
  padding: 14px;
}
@media screen and (max-width: 1440px) {
  .our-testimonials .our-testimonials__plans label {
    padding: 12px;
  }
}
.our-testimonials .our-testimonials__plans span {
  padding: 14px 24px;
  border-radius: 140px;
  text-wrap: nowrap;
  transition: box-shadow 0.125s ease-in-out;
}
.our-testimonials .our-testimonials__plans span:hover {
  box-shadow: 0 0 0 1px inset #caff33;
}
@media screen and (max-width: 1440px) {
  .our-testimonials .our-testimonials__plans span {
    font-size: 10px 18px;
  }
}
.our-testimonials .our-testimonials__plans [type=radio] {
  display: none;
}
.our-testimonials .our-testimonials__plans [type=radio]:checked + span {
  color: #1c1c1c;
  background-color: #caff33;
  transition: background-color 0.3s ease-in-out;
}

.our-testimonials__cards-list {
  display: flex;
}
.our-testimonials__cards-list .card {
  width: 404px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 50px;
  text-align: center;
  color: #fff;
}
.our-testimonials__cards-list .card .card__image {
  justify-self: center;
  width: 60px;
  height: 60px;
  background: url("../img/ourTestimonials/card_icon.svg");
}
.our-testimonials__cards-list .card .card__name {
  color: #caff33;
}

.swiper-container {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .swiper-container {
    flex-direction: column;
  }
}
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  width: 62px;
  height: 62px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 100%;
  background-color: #1c1c1c;
  z-index: 20;
  transition: background-color 0.125s ease-in-out;
}
.swiper-container .swiper-button-prev:hover,
.swiper-container .swiper-button-next:hover {
  background-color: #161616;
}
.swiper-container .swiper-button-prev:active,
.swiper-container .swiper-button-next:active {
  border: 1px solid rgb(38, 38, 38);
  background-color: #262626;
}
.swiper-container .swiper-button-prev:active path,
.swiper-container .swiper-button-next:active path {
  stroke: #92b925;
}
@media screen and (max-width: 768px) {
  .swiper-container .swiper-button-prev,
  .swiper-container .swiper-button-next {
    order: 1;
  }
}
@media screen and (max-width: 768px) {
  .swiper-container .swiper-button-prev {
    position: absolute;
    bottom: -80px;
    left: 30%;
  }
}
@media screen and (max-width: 768px) {
  .swiper-container .swiper-button-next {
    position: absolute;
    bottom: -80px;
    right: 30%;
  }
}
.swiper-container::before {
  content: "";
  width: 33.3333333333%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(30, 30, 30);
  background: linear-gradient(90deg, rgb(30, 30, 30) 0% 20%, rgba(30, 30, 30, 0.9) 20% 80%, rgba(30, 30, 30, 0.3) 100%);
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .swiper-container::before {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .swiper-container::before {
    width: 0;
  }
}
.swiper-container::after {
  content: "";
  width: 33.3333333333%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(30, 30, 30);
  background: linear-gradient(-90deg, rgba(30, 30, 30, 0.9) 0% 20%, rgba(30, 30, 30, 0.9) 20% 80%, rgba(30, 30, 30, 0.3) 100%);
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .swiper-container::after {
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .swiper-container::after {
    width: 0;
  }
}

.swiper__testimonials {
  width: min(100%, 1372px);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .swiper__testimonials {
    order: 0;
  }
}
.swiper__testimonials .swiper-slide {
  user-select: none;
}
.swiper__testimonials .swiper-slide-active {
  user-select: text;
}
.swiper__testimonials .swiper-slide-active .card__image {
  filter: drop-shadow(2px -2px 4px #d1ff4d);
}

.start-your-bank {
  margin-top: 150px;
}
@media screen and (max-width: 1440px) {
  .start-your-bank {
    margin-top: 120px;
  }
}
.start-your-bank .container {
  position: relative;
}
.start-your-bank .container::before {
  content: url("../img/bg/use_cases_bg.png");
  width: 224px;
  height: 213px;
  position: absolute;
  top: 0;
  z-index: 0;
}
.start-your-bank .start-your-bank__content {
  padding: 80px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  border-radius: 20px;
  background-color: rgb(26, 26, 26);
}
@media screen and (max-width: 1440px) {
  .start-your-bank .start-your-bank__content {
    padding: 60px;
  }
}
@media screen and (max-width: 768px) {
  .start-your-bank .start-your-bank__content {
    padding: 30px;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
.start-your-bank .start-your-bank__content .start-your-bank__title {
  margin-bottom: 14px;
  font-size: 40px;
  line-height: 150%;
  color: #fff;
  z-index: 10;
}
@media screen and (max-width: 1440px) {
  .start-your-bank .start-your-bank__content .start-your-bank__title {
    font-size: 30px;
  }
}
.start-your-bank .start-your-bank__content .start-your-bank__description {
  z-index: 10;
}
.start-your-bank .start-your-bank__content .start-your-bank__login {
  align-self: center;
  width: fit-content;
  height: fit-content;
  padding: 18px 30px;
  grid-row: 1/3;
  grid-column: 2/3;
  border-radius: 82px;
  color: #1c1c1c;
  background-color: #caff33;
  transition: background-color 0.2s ease-in-out;
  z-index: 10;
}
.start-your-bank .start-your-bank__content .start-your-bank__login:hover {
  background-color: #577504;
}
.start-your-bank .start-your-bank__content .start-your-bank__login:active {
  background-color: #92b925;
  transition: none;
}
@media screen and (max-width: 1440px) {
  .start-your-bank .start-your-bank__content .start-your-bank__login {
    padding: 14px 20px;
  }
}
@media screen and (max-width: 768px) {
  .start-your-bank .start-your-bank__content .start-your-bank__login {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.footer {
  margin-top: 150px;
}
@media screen and (max-width: 1440px) {
  .footer {
    margin-top: 120px;
  }
}
.footer .footer__logo {
  display: flex;
  justify-content: center;
}

.footer__nav {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1440px) {
  .footer__nav {
    font-size: 16px;
  }
}
.footer__nav .nav__list {
  display: flex;
  gap: 24px;
}
.footer__nav .nav__list .nav__item {
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer__nav .nav__list .nav__item a {
  color: #e4e4e7;
}
.footer__nav .nav__list .nav__item a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer__address {
  border-top: 1px solid rgb(38, 38, 38);
  border-bottom: 1px solid rgb(38, 38, 38);
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .footer__address {
    grid-auto-flow: row;
    gap: 20px;
  }
}
.footer__address .address__email,
.footer__address .address__phone,
.footer__address .address__location {
  color: #e4e4e7;
}
.footer__address .address__email:hover,
.footer__address .address__phone:hover,
.footer__address .address__location:hover {
  text-decoration: underline;
  transform: scale(1.02);
}
.footer__address .address__email:hover::before,
.footer__address .address__phone:hover::before,
.footer__address .address__location:hover::before {
  filter: brightness(1.1);
}
.footer__address .address__email::before,
.footer__address .address__phone::before,
.footer__address .address__location::before {
  content: "";
  margin-right: 5px;
  position: relative;
  top: 5px;
}
@media screen and (max-width: 1440px) {
  .footer__address .address__email,
  .footer__address .address__phone,
  .footer__address .address__location {
    font-size: 16px;
  }
}
.footer__address .address__email::before {
  content: url("../img/footer/email_icon.svg");
}
.footer__address .address__phone::before {
  content: url("../img/footer/phone_icon.svg");
}
.footer__address .address__location::before {
  content: url("../img/footer/location_icon.svg");
}

.footer__aside {
  margin-top: 50px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 100px;
  background-color: rgb(26, 26, 26);
}
@media screen and (max-width: 768px) {
  .footer__aside {
    grid-template-columns: auto;
  }
}
.footer__aside .footer__follow {
  display: flex;
  gap: 14px;
}
@media screen and (max-width: 768px) {
  .footer__aside .footer__follow {
    justify-self: center;
  }
}
.footer__aside .footer__follow a {
  width: 52px;
  height: 52px;
  padding: 14px;
  border-radius: 100%;
  background-color: #caff33;
}
.footer__aside .footer__follow a:hover img {
  transform: scale(1.15);
}
.footer__aside span {
  justify-self: center;
}
@media screen and (max-width: 768px) {
  .footer__aside span {
    justify-self: center;
  }
}
.footer__aside .footer__privacy-policy {
  justify-self: flex-end;
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 768px) {
  .footer__aside .footer__privacy-policy {
    justify-self: center;
  }
}
.footer__aside .footer__privacy-policy a {
  color: #b3b3b3;
}
.footer__aside .footer__privacy-policy a:hover {
  text-decoration: underline;
}
.footer__aside .footer__privacy-policy a:first-child {
  padding-right: 12px;
  border-right: 1px solid rgb(179, 179, 179);
}

.yourBank {
  margin-top: 53px;
}
.yourBank .yourBank__wrapper {
  padding: 50px;
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
}
.yourBank .yourBank__wrapper::after {
  content: url("../img/yourBank/welcome_bg.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  z-index: -10;
}
.yourBank .yourBank__wrapper .yourBank__welcome {
  width: 100%;
  height: 716px;
  background: url("../img/yourBank/welcome.png");
  background-position: right;
  background-repeat: no-repeat;
}
.yourBank .yourBank__wrapper .yourBank__welcome .welcome__container {
  padding: 80px;
  background-color: rgb(26, 26, 26);
  width: 791px;
  border-radius: 20px 0px 80px 20px;
}
.yourBank .yourBank__wrapper .yourBank__welcome .welcome__container .welcome__title {
  font-size: 58px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 23px;
}

.our-values {
  margin-top: 150px;
}
.our-values .our-values__cards {
  margin-top: 80px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}
.our-values .our-values__cards .card {
  padding-left: 30px;
  border-left: 1px solid #caff33;
}
.our-values .our-values__cards .card .card__title {
  font-size: 58px;
  font-weight: 500;
  line-height: 150%;
  color: #4c4c4d;
}

.our-benefits {
  margin-top: 150px;
}
.our-benefits .our-benefits__cards {
  margin-top: 80px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.our-benefits .our-benefits__cards .card {
  padding: 50px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 98px auto;
  gap: 20px;
  border-radius: 20px 50px 20px 50px;
  background: linear-gradient(149.36deg, rgba(202, 255, 51, 0.05) -30.105%, rgba(202, 255, 51, 0) 28.234%), linear-gradient(227.39deg, rgb(28, 28, 28) 40.71%, rgba(28, 28, 28, 0) 99.303%);
  border: 4px solid transparent;
}
.our-benefits .our-benefits__cards .card .card__title {
  grid-column: 2/3;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: #fff;
}
.our-benefits .our-benefits__cards .card .card__description {
  grid-row: 2/3;
  grid-column: 1/3;
}
.our-benefits .our-benefits__cards .card .card__icon {
  width: fit-content;
  height: fit-content;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-benefits .our-benefits__cards .card .card__icon::before {
  content: "";
  position: absolute;
  width: 98px;
  height: 98px;
  animation: pulse 3s infinite ease-in-out 0.3s;
}
.our-benefits .our-benefits__cards .card .card__icon::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 74px;
  animation: pulse 3s infinite ease-in-out;
}

.job-openings {
  margin-top: 150px;
}
.job-openings .job-openings__vacancies {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.vacancy {
  padding: 50px;
  position: relative;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 16px;
  background-color: #1c1c1c;
}
.vacancy .vacancy__name {
  margin-bottom: 14px;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
.vacancy .vacancy__filter {
  padding: 8px 16px;
  font-weight: 300;
  line-height: 150%;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 68px;
  background-color: rgb(26, 26, 26);
}
.vacancy .vacancy__about .about__title {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
.vacancy .vacancy__requirements .requirements__title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  color: #fff;
}
.vacancy .vacancy__requirements .requirements__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 120px;
}
.vacancy .vacancy__requirements .requirements__list .requirement::before {
  content: url("../img/jobOpenings/requirement_icon.svg");
  margin-right: 4px;
}
.vacancy .vacancy__btn {
  padding: 16px 30px;
  position: absolute;
  bottom: 50px;
  border-radius: 82px;
  background-color: #caff33;
  color: #1c1c1c;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}
.vacancy .vacancy__btn:hover {
  background-color: #577504;
}
.vacancy .vacancy__btn:active {
  background-color: #92b925;
  transition: none;
}

/*# sourceMappingURL=styles.css.map */
