.our-testimonials {
  margin-top: 150px;
  @media screen and (max-width: 1440px) {
    margin-top: 120px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 80px;
  }
  .wrapper {
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: min(100%, 910px) auto;
    @media screen and (max-width: 1440px) {
      grid-template-columns: auto auto;
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: auto;
    }
    @media screen and (max-width: 768px) {
      text-align: center;
      gap: 20px;
    }
  }

  .our-testimonials__description {
    grid-row: 2 / 3;
  }

  .our-testimonials__plans {
    width: fit-content;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 14px 5px;
    border: $regular-border;
    background: linear-gradient($eerie-black, $eerie-black) padding-box,
      linear-gradient(45deg, $green-yellow, $log-cabin, $green-yellow--hover)
        border-box;
    border: 1px solid transparent;
    border-radius: 82px;
    background-color: #1c1c1c;
    @media screen and (max-width: 1024px) {
      grid-row: 3 / 4;
    }
    @media screen and (max-width: 768px) {
      margin-right: auto;
    }

    label {
      padding: 14px;
      @media screen and (max-width: 1440px) {
        padding: 12px;
      }
    }

    span {
      padding: 14px 24px;
      border-radius: 140px;
      text-wrap: nowrap;
      transition: box-shadow 0.125s ease-in-out;
      &:hover {
        box-shadow: 0 0 0 1px inset $green-yellow;
      }
      @media screen and (max-width: 1440px) {
        font-size: 10px 18px;
      }
    }

    [type="radio"] {
      display: none;
    }

    [type="radio"]:checked + span {
      color: $eerie-black--light;
      background-color: $green-yellow;
      transition: background-color 0.3s ease-in-out;
    }
  }
}

.our-testimonials__cards-list {
  display: flex;

  .card {
    width: 404px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 50px;
    text-align: center;
    color: $absolute-white;
    @media screen and (max-width: 400px) {
      width: 320px;
    }

    .card__image {
      justify-self: center;
      width: 60px;
      height: 60px;
      background: url("../img/ourTestimonials/card_icon.svg");
    }

    .card__name {
      color: $green-yellow;
    }
  }
}

.swiper-container {
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 62px;
    height: 62px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $regular-border;
    border-radius: 100%;
    background-color: $eerie-black--light;
    z-index: 20;
    transition: background-color 0.125s ease-in-out;
    &:hover {
      background-color: #161616;
    }
    &:active {
      border: $regular-border;
      background-color: $eerie-black--veryLight;
      path {
        stroke: $green-yellow--active;
      }
    }
    @media screen and (max-width: 768px) {
      order: 1;
    }
  }
  .swiper-button-prev {
    @media screen and (max-width: 768px) {
      position: absolute;
      bottom: -80px;
      left: 30%;
    }
  }
  .swiper-button-next {
    @media screen and (max-width: 768px) {
      position: absolute;
      bottom: -80px;
      right: 30%;
    }
  }

  &::before {
    content: "";
    width: calc(100% / 3);
    height: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(30, 30, 30);
    background: linear-gradient(
      90deg,
      rgba(30, 30, 30, 1) 0% 20%,
      rgba(30, 30, 30, 0.9) 20% 80%,
      rgba(30, 30, 30, 0.3) 100%
    );
    z-index: 10;
    @media screen and (max-width: 1024px) {
      width: 20vw;
    }
    @media screen and (max-width: 768px) {
      width: 0;
    }
  }

  &::after {
    content: "";
    width: calc(100% / 3);
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgb(30, 30, 30);
    background: linear-gradient(
      -90deg,
      rgba(30, 30, 30, 0.9) 0% 20%,
      rgba(30, 30, 30, 0.9) 20% 80%,
      rgba(30, 30, 30, 0.3) 100%
    );
    z-index: 10;
    @media screen and (max-width: 1024px) {
      width: 20vw;
    }
    @media screen and (max-width: 768px) {
      width: 0;
    }
  }
}

.swiper__testimonials {
  width: min(100%, 1372px);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    order: 0;
  }

  .swiper-slide {
    user-select: none;
  }
  .swiper-slide-active {
    .card__image {
      filter: drop-shadow(2px -2px 4px $starship);
    }
    user-select: text;
  }
}
