.security {
  margin-top: 53px;
  .security__wrapper {
    padding: 50px;
    display: grid;
    grid-template-rows: 1fr;
    position: relative;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    @media screen and (max-width: 768px) {
      padding: 14px;
    }

    &::after {
      content: url("../img/security/welcome_bg.png");
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      z-index: -10;
      @media screen and (max-width: 1024px) {
        content: url("../img/security/welcome_bg_mobile.png");
        top: 30px;
        right: 30px;
      }
    }
    .security__welcome {
      width: 100%;
      height: 716px;
      background: url("../img/security/security.png");
      background-position: right;
      background-repeat: no-repeat;
      @media screen and (max-width: 1440px) {
        height: 568px;
      }
      @media screen and (max-width: 1024px) {
        background-position: top center;
        background-size: contain;
        height: 850px;
        display: flex;
      }
      @media screen and (max-width: 768px) {
        height: 720px;
      }
      @media screen and (max-width: 390px) {
        height: 670px;
      }

      .welcome__container {
        padding: 80px;
        background-color: rgb(26, 26, 26);
        width: min(100%, 791px);
        border-radius: 20px 0px 80px 20px;
        @media screen and (max-width: 1440px) {
          width: min(100%, 658px);
          padding: 60px;
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
          border-radius: 20px;
          align-self: flex-end;
        }
        @media screen and (max-width: 768px) {
          padding: 24px;
        }

        .welcome__title {
          font-size: 58px;
          font-weight: 500;
          line-height: 130%;
          margin-bottom: 23px;
          @media screen and (max-width: 1440px) {
            font-size: 48px;
          }
          @media screen and (max-width: 1024px) {
            font-size: 34px;
          }
          @media screen and (max-width: 768px) {
            font-size: 28px;
          }
        }
      }
    }
  }
}
