.signUp-page {
  width: min(100%, 1326px);
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 150px;
  text-align: center;
  position: relative;
  border: $regular-border;
  border-radius: 20px;
  @media screen and (max-width: 1024px) {
    padding: 20px 20px 60px 20px;
  }

  &::after {
    content: url("../img/loginPage/bg.png");
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
  }
}

.signUp-page__form {
  margin-top: 80px;
  margin-bottom: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media screen and (max-width: 1024px) {
    grid-template-rows: auto;
    grid-template-columns: auto;
    gap: 100px;
  }
}

.signUp-page__first-name,
.signUp-page__last-name,
.signUp-page__email,
.signUp-page__password {
  position: relative;
  width: 100%;
  border: $regular-border;
  border-radius: 88px;
  background-color: rgb(26, 26, 26);
  text-align: left;
  input {
    padding: 24px;
    width: 100%;
    position: relative;
    z-index: 10;
    color: $mercury;

    &::placeholder {
      opacity: 0;
    }

    &:focus-visible {
      box-shadow: 0 0 1px 2px $green-yellow;
      border-radius: 88px;
      &::placeholder {
        opacity: 1;
      }
    }

    &:focus ~ span,
    &:not(:placeholder-shown) ~ span {
      top: -30px;
      left: 20px;
      transform: scale(1.2);
    }
    &:valid {
      border-radius: 88px;
      border-bottom: 3px solid $green-yellow;
      animation: border-color linear infinite 8s;
    }
  }

  span {
    position: absolute;
    top: 22px;
    left: 30px;
    transition: all 0.5s ease-in-out;
    z-index: 0;
  }

  input:invalid:not(:placeholder-shown) ~ .firstNameInvalid,
  input:invalid:not(:placeholder-shown) ~ .lastNameInvalid,
  input:invalid:not(:placeholder-shown) ~ .emailInvalid,
  input:invalid:not(:placeholder-shown) ~ .passwordInvalid {
    display: block;
    position: absolute;
    top: 85px;
    left: 3vw;
    padding: 20px;
    border: $regular-border;
    border-radius: 30px;
    background-color: rgba(80, 46, 46, 0.8);
    color: tomato;
    z-index: 10;
    @media screen and (max-width: 1024px) {
      left: auto;
      right: 0;
    }
    &:after {
      content: "";
      border: solid transparent;
      position: absolute;
      bottom: 100%;
      left: 50%;
      border-bottom-color: rgba(80, 46, 46, 0.9);
      border-width: 16px;
      margin-left: -8px;
    }
  }
}

.showPass {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
}

.forgot {
  text-decoration: underline !important;
}

.firstNameInvalid,
.lastNameInvalid,
.emailInvalid,
.passwordInvalid {
  display: none;
}

.signUp-page__btns {
  margin-top: 40px;
  margin-bottom: 24px;
  padding-left: 254px;
  padding-right: 254px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
}

.form-submit-btn {
  padding: 18px 20px;
  border-radius: 63px;
  background-color: $green-yellow;
  color: $eerie-black--light;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: $green-yellow--hover;
  }
  &:active {
    background-color: $green-yellow--active;
  }
}

.signUp-page__signUp {
  padding: 18px 20px;
  border-radius: 63px;
  background-color: $eerie-black--veryLight;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: $green-yellow--hover;
  }
  &:active {
    background-color: $green-yellow--active;
  }
}

.continue-with {
  padding-left: 254px;
  padding-right: 254px;
  @media screen and (max-width: 1024px) {
    padding: 0;
  }
  span {
    display: flex;
    align-items: center;
    gap: 20px;
    text-wrap: nowrap;
    &:before {
      content: "";
      width: 100%;
      border: $regular-border;
    }
    &::after {
      content: "";
      width: 100%;
      border: $regular-border;
    }
  }
  .continue-with__links {
    margin-top: 62px;
    display: flex;
    justify-content: center;
    gap: 88px;
    a {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        width: 94px;
        height: 94px;
        @extend %icon-bg-external;
        animation: pulse 3s infinite ease-in-out 0.3s;
      }
      &::after {
        content: "";
        position: absolute;
        width: 70px;
        height: 70px;
        @extend %icon-bg-internal;
        animation: pulse 3s infinite ease-in-out;
      }
      &:nth-child(1) {
        &::before {
          animation-delay: 0.7s;
        }
        &::after {
          animation-delay: 0.4s;
        }
      }
      &:nth-child(2) {
        &::before {
          animation-delay: 0.5s;
        }
        &::after {
          animation-delay: 0.2s;
        }
      }
    }
  }
}

#signUpPageError {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;

  &:not([open]) {
    transform: scale(0);
  }
  &[open] {
    transform: scale(1);
  }
  div {
    position: relative;
    padding: 50px;
    background-color: $eerie-black--veryLight;
    color: $absolute-white;
    button {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}
#signUpPageSuccess {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;

  &:not([open]) {
    transform: scale(0);
  }
  &[open] {
    transform: scale(1);
  }
  div {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px;
    background-color: $eerie-black--veryLight;
    color: $absolute-white;
    button {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

@keyframes border-color {
  0% {
    border-bottom-color: $log-cabin;
  }

  50% {
    border-bottom-color: $starship;
  }
  100% {
    border-bottom-color: $log-cabin;
  }
}
