@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300..500&display=swap");

body {
  font-family: $font-main;
  background-color: $eerie-black;
  color: $nobel;
  font-size: 18px;
  line-height: 150%;
  @media screen and (max-width: 1440px) {
    font-size: 14px;
  }
}

a {
  color: $absolute-white;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $starship;
  }
}

.container {
  width: min(100%, 1596px);
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1440px) {
    width: min(100%, 1280px);
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.accent-text {
  color: $green-yellow;
}
.block-title {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 48px;
  font-weight: 500;
  line-height: 150%;
  color: $absolute-white;
  @media screen and (max-width: 1440px) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 38px;
  }
  @media screen and (max-width: 390px) {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 28px;
  }
}

.description {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color: $nobel;
  @media screen and (max-width: 1440px) {
    font-size: 16px;
  }
  @media screen and (max-width: 390px) {
    font-size: 14px;
  }
}

.hidden {
  display: none !important;
}
::selection {
  text-shadow: 0 0 1px red;
  color: $green-yellow--active;
  background-color: #353b26;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
  box-shadow: 0 0 5px 2px $green-yellow;
  border-radius: 10px;
}

.shadow {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: $starship;
  box-shadow: 0 0 70px 50px $starship;
  opacity: 0.025;
  z-index: -10;
  transition: 0.09s linear;
}
