//fonts
$font-main: "Lexend", sans-serif;

// colors

$absolute-white: #fff;
$eerie-black: #1e1e1e;
$eerie-black--light: #1c1c1c; // 28 28 28
$eerie-black--veryLight: #262626; // 38 38 38
$mercury: #e4e4e7;
$nobel: #b3b3b3;
$green-yellow: #caff33;
$green-yellow--hover: #577504;
$green-yellow--active: #92b925;
$starship: #d1ff4d;

//background-colors

$log-cabin: #22251b;

//borders

$regular-border: 1px solid rgb(38, 38, 38);

//extends

%icon-bg-external {
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.05),
    rgba(202, 255, 51, 0) 100%
  );
}
%icon-bg-internal {
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.1) -66.216%,
    rgba(202, 255, 51, 0) 85.461%
  );
}
