//fonts
$font-main: "Lexend", sans-serif;

// colors

$absolute-white: #fff;
$eerie-black: #1e1e1e;
$eerie-black--light: #1c1c1c; // 28 28 28
$eerie-black--veryLight: #262626; // 38 38 38
$mercury: #e4e4e7;
$nobel: #b3b3b3;
$green-yellow: #caff33;
$green-yellow--hover: #577504;
$green-yellow--active: #92b925;
$starship: #d1ff4d;

//background-colors

$log-cabin: #22251b;

//borders

$regular-border: 1px solid rgb(38, 38, 38);

//extends

%icon-bg-external {
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.05),
    rgba(202, 255, 51, 0) 100%
  );
}
%icon-bg-internal {
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    rgba(202, 255, 51, 0.1) -66.216%,
    rgba(202, 255, 51, 0) 85.461%
  );
}

//animations

/* icon radial pulsation */
@keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes pulse-mini {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* appearance */
@keyframes fromBottom {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fromLeftTop {
  0% {
    transform: translate3d(-150px, -150px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0);
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromRigthTop {
  0% {
    transform: translate3d(150px, -150px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0);
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromLeftBottom {
  0% {
    transform: translate3d(-150px, 150px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0);
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromRightBottom {
  0% {
    transform: translate3d(150px, 150px, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0);
    opacity: 0.2;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes increaseToRight {
  0% {
    left: 50px;
    width: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  75% {
    left: 0;
    width: 100%;
  }
  100% {
    width: auto;
  }
}

//animation classes

.appearanceFromBottom {
  animation: fromBottom 2s linear;
}

.appearanceFromEdges {
  > div:nth-child(1) {
    animation: fromLeftTop 1s linear;
  }
  > div:nth-child(2) {
    animation: fromRigthTop 1s linear;
  }
  > div:nth-child(3) {
    animation: fromLeftBottom 1s linear;
  }
  > div:nth-child(4) {
    animation: fromRightBottom 1s linear;
  }
}

.increaseToRight {
  > div:nth-child(1) {
    animation: increaseToRight 1.5s linear;
  }
  > div:nth-child(2) {
    animation: increaseToRight 1.5s linear;
  }
  > div:nth-child(3) {
    animation: increaseToRight 1.5s linear;
  }
  > div:nth-child(4) {
    animation: increaseToRight 1.5s linear;
  }
}
