.our-products {
  margin-top: 150px;
  @media screen and (max-width: 1440px) {
    margin-top: 120px;
  }
  .wrapper {
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: min(100%, 910px) auto;
    @media screen and (max-width: 1440px) {
      grid-template-columns: auto auto;
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: auto;
    }
    @media screen and (max-width: 768px) {
      gap: 20px;
      align-items: center;
      text-align: center;
    }

    .our-products__description {
      grid-row: 2 / 3;
    }

    .our-products__plans {
      width: fit-content;
      grid-row: 2 / 3;
      display: flex;
      align-items: center;
      margin-left: auto;
      padding: 14px 5px;
      border: $regular-border;
      background: linear-gradient($eerie-black, $eerie-black) padding-box,
        linear-gradient(60deg, $log-cabin, #b6c585, $log-cabin) border-box;
      border: 2px solid transparent;
      border-radius: 82px;
      background-color: #1c1c1c;
      @media screen and (max-width: 1024px) {
        grid-row: 3 / 4;
      }
      @media screen and (max-width: 768px) {
        margin-right: auto;
      }

      label {
        padding: 14px;
        @media screen and (max-width: 1440px) {
          padding: 12px;
        }
        @media screen and (max-width: 768px) {
          align-items: center;
          text-align: center;
        }
      }

      span {
        padding: 14px 24px;
        border-radius: 140px;
        transition: box-shadow 0.125s ease-in-out;
        text-wrap: nowrap;
        &:hover {
          box-shadow: 0 0 0 1px inset $green-yellow;
        }
        @media screen and (max-width: 1440px) {
          padding: 10px 18px;
        }
      }

      [type="radio"] {
        display: none;
      }

      [type="radio"]:checked + span {
        color: $eerie-black--light;
        background-color: $green-yellow;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}

.products {
  display: flex;
  text-align: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.checking-accounts,
.savings-accounts,
.loans-mortgages {
  width: calc(100% / 3);
  margin-right: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: $regular-border;
  @media screen and (max-width: 768px) {
    width: 60vw;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: $regular-border;
  }
  @media screen and (max-width: 390px) {
    width: 100%;
  }
}
.loans-mortgages {
  border: none;
  margin: 0;
  @media screen and (max-width: 768px) {
    border: none;
    margin: 0;
  }
}

.checking-accounts__image,
.savings-accounts__image,
.loans-mortgages__image {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 98px;
    height: 98px;
    @extend %icon-bg-external;
    animation: pulse 3s infinite ease-in-out 0.3s;
  }
  &::after {
    content: "";
    position: absolute;
    width: 74px;
    height: 74px;
    @extend %icon-bg-internal;
    animation: pulse 3s infinite ease-in-out;
  }
}

.checking-accounts__title,
.savings-accounts__title,
.loans-mortgages__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 150%;
  color: $absolute-white;
  @media screen and (max-width: 1440px) {
    font-size: 20px;
  }
}

.checking-accounts__description,
.savings-accounts__description,
.loans-mortgages__description {
  text-align: center;
}
