.our-products {
  margin-top: 150px;
  .wrapper {
    margin-bottom: 100px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: min(100%, 910px) auto;

    .our-products__description {
      grid-row: 2 / 3;
    }

    .our-products__plans {
      width: fit-content;
      grid-row: 2 / 3;
      display: flex;
      align-items: center;
      margin-left: auto;
      padding: 14px 5px;
      border: $regular-border;
      border-radius: 82px;
      background-color: #1c1c1c;

      label {
        padding: 14px;
      }

      span {
        padding: 14px 24px;
        border-radius: 140px;
        transition: box-shadow 0.125s ease-in-out;
        &:hover {
          box-shadow: 0 0 0 1px inset $green-yellow;
        }
      }

      [type="radio"] {
        display: none;
      }

      [type="radio"]:checked + span {
        color: $eerie-black--light;
        background-color: $green-yellow;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}

.products {
  display: flex;
  gap: 100px;
}

.checking-accounts,
.savings-accounts,
.loans-mortgages {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checking-accounts__image,
.savings-accounts__image,
.loans-mortgages__image {
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 98px;
    height: 98px;
    @extend %icon-bg-external;
    animation: pulse 3s infinite ease-in-out 0.3s;
  }
  &::after {
    content: "";
    position: absolute;
    width: 74px;
    height: 74px;
    @extend %icon-bg-internal;
    animation: pulse 3s infinite ease-in-out;
  }
}

.checking-accounts__title,
.savings-accounts__title,
.loans-mortgages__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 24px;
  color: $absolute-white;
}

.checking-accounts__description,
.savings-accounts__description,
.loans-mortgages__description {
  text-align: center;
}
