.use-cases {
  margin-top: 150px;
  .use-cases__title {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
  }
  .use-cases__description {
    font-weight: 300;
  }
}

.use-cases__individuals {
  margin-top: 80px;
  margin-bottom: 60px;
  .individuals__options-list {
    position: relative;
    &::before {
      content: url("../img/useCases/bg/use_cases_bg.png");
      width: 224px;
      height: 213px;
      position: absolute;
      top: 0;
      z-index: 0;
    }
  }
}
.use-cases__business {
  .business__options-list {
    position: relative;
    &::before {
      content: url("../img/useCases/bg/use_cases_bg.png");
      width: 224px;
      height: 213px;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(90deg);
      z-index: 0;
    }
  }
}

.use-cases__individuals,
.use-cases__business {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

  .individuals__options-list,
  .business__options-list {
    padding: 50px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: $eerie-black--light;
    .option {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border: $regular-border;
      border-radius: 16px;
      background-color: #1a1a1a;
      z-index: 10;

      .option__image {
        width: 78px;
        height: 78px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %icon-bg-external;
        &::after {
          content: "";
          position: absolute;
          width: 58px;
          height: 58px;
          @extend %icon-bg-internal;
        }
      }
    }
  }

  .details {
    .details__title {
      margin-top: 14px;
      margin-bottom: 14px;
      font-size: 30px;
      font-weight: 500;
      color: $absolute-white;
    }
    .details__description {
      font-weight: 300;
    }

    .details__indicators {
      margin-top: 62px;
      display: flex;
      gap: 100px;
      .indicator {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .indicator__num {
          font-size: 58px;
          font-weight: 500;
          line-height: 150%;
          color: $green-yellow;
        }
        .indicator__text {
          font-weight: 300;
        }
      }
    }
    button {
      margin-top: 62px;
      padding: 18px 24px;
      border: $regular-border;
      border-radius: 82px;
      color: $absolute-white;
      transition: background-color 0.125s ease-in-out,
        border-color 0.125s ease-in-out;
      &:hover {
        background-color: rgb(26, 26, 26);
        border-color: $green-yellow--hover;
      }
      &:active {
        background-color: $eerie-black--veryLight;
        border-color: $green-yellow--active;
      }
    }
  }
}
